

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: brown;
}

.container {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    place-items: center;
}

.circular-progress{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: white;
    border-radius: 50%;
}

.circular-progress div{
    font-size: 5px;
}

.container-value{
    position: relative;
}