

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 80px;
    gap: 30px;
}

.footer .footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .footer-2 .f1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}